*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    height: 300vh;
}
#header{
    background-color: #000;
    position: fixed;
    width: 100%;
}
#header .container{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#header .container h1{}
#header .container h1 a{
    color: #fff;
    line-height: 50px;
}
#header .container nav{}
#header .depth01{
    display: flex;
}
#header .depth01 > li{
    position: relative;
}
#header .depth01 > li > a{
    color: #fff;
    padding: 0 30px;
    line-height: 50px;
    display: block;
}
#header .depth02{
    position: absolute;
    background-color: #000;
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 0;
}
#header .depth02 li{}
#header .depth02 li a{
    color: #fff;
    line-height: 50px;
    display: block;
    border-bottom: solid 1px #fff;
}
#header .depth02 li:last-child a{
    border-bottom: 0;
}
#header .depth01:hover .depth02{
    height: 254px;
}
#header:hover{
    height: 304px;
}
#header .depth01 > li:hover > a,
#header .depth02 li:hover a{
    background-color: #fff;
    color: #000;
}