*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#content{
    width: 1200px;
    margin: 0 auto;
}
#content .mainBanner{
    position: relative;
}
#content .mainBanner ul{}
#content .mainBanner ul li{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
#content .mainBanner ul li a{
    display: block;
}
#content .mainBanner ul li a img{
    display: block;
}