@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
div{
    width: 1280px;
    height: 800px;
    margin: 0 auto;
}
.key{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #333;
    border-top: solid 10px #00f;
    border-right: solid 10px #f00;
    border-bottom: solid 10px #00f;
    border-left: solid 10px #f00;

    /* animation-name: moveInOut;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    position: relative; */
    -webkit-animation: moveInOut 1s ease-in-out 3s infinite alternate both;
    -moz-animation: moveInOut 1s ease-in-out 3s infinite alternate both;
    -o-animation: moveInOut 1s ease-in-out 3s infinite alternate both;
    -ms-animation: moveInOut 1s ease-in-out 3s infinite alternate both;
    animation: moveInOut 1s ease-in-out 3s infinite alternate both;
}

@keyframes moveInOut{
    0%{
        top: 0;
        transform: rotate(0deg);
    }
    100%{
        top: 80%;
        transform: rotate(360deg);
    }
}
@-webkit-keyframes moveInOut{
    0%{
        top: 0;
        transform: rotate(0deg);
    }
    100%{
        top: 80%;
        transform: rotate(360deg);
    }
}
@-moz-keyframes moveInOut{
    0%{
        top: 0;
        transform: rotate(0deg);
    }
    100%{
        top: 80%;
        transform: rotate(360deg);
    }
}
@-o-keyframes moveInOut{
    0%{
        top: 0;
        transform: rotate(0deg);
    }
    100%{
        top: 80%;
        transform: rotate(360deg);
    }
}
@-ms-keyframes moveInOut{
    0%{
        top: 0;
        transform: rotate(0deg);
    }
    100%{
        top: 80%;
        transform: rotate(360deg);
    }
}